.selected > g > .symbol .outline {
    stroke: rgb(192,0,0) !important;
}

.selected > .name {
    color: rgba(192,0,0,1);
    fill: rgb(192,0,0) !important;
}

.app-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0;

    .app-panels {
        height: 100%;
        margin: 0;
        flex: 1 1 auto;
        display: flex;

        .app-panel {
            height: 100%;
            overflow: auto;
            margin: 0;
            padding: 0;

            &.side {
                flex: 0 0 300px;
                background-color: white;
                border-right: 1px solid #ccc;

                .row {
                    margin: 0 8px;

                    &:after{
                        content: "";
                        display: table;
                        clear: both;
                    }

                    &.full {
                        margin: 0 16px;
                    }

                    & > .full {
                        margin: 0 8px;
                    }

                    & > .half {
                        float:left;
                        margin: 0 8px;
                        width: calc(50% - 16px);
                    }
                }
            }

            &.main {
                flex: 1 1 auto;

                & > switchboard > svg {
                    margin: 16px;
                }
            }
        }
    }
}

.language-selector {
    margin: 0 20px;

    img {
        height: 26px;
        filter: grayscale(90%);
    }

    .md-button-toggle-checked {
        img {
            filter: none;
        }
    }

    & > a.selected {
        img {
            filter: none;
        }
    }
}
