$ui-border-color: #cccccc;

.selected > g > .symbol .outline {
    stroke: rgb(192,0,0) !important;
}

.selected > .name {
    color: rgba(192,0,0,1);
    fill: rgb(192,0,0) !important;
}

.app-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0;

    .app-panels {
        height: 100%;
        margin: 0;
        flex: 1 1 auto;
        display: flex;

        .app-panel {
            height: 100%;
            overflow: auto;
            margin: 0;
            padding: 0;

            &.properties {
                flex: 0 0 300px;
                background-color: white;
                border-right: 1px solid $ui-border-color;

                .row {
                    margin: 0 8px;

                    &:after{
                        content: "";
                        display: table;
                        clear: both;
                    }

                    &.full {
                        margin: 0 16px;
                    }

                    & > .full {
                        margin: 0 8px;
                    }

                    & > .half {
                        float:left;
                        margin: 0 8px;
                        width: calc(50% - 16px);
                    }
                }
            }

            &.side-toolbar {
                flex: 0 0 (36px+2*8px+1px);
                border-left: 1px solid $ui-border-color;
            }

            &.main {
                flex: 1 1 auto;

                padding: 16px;
            }
        }
    }

    .app-status-bar {
        flex: 0 0 16px;
        line-height: 12px;
        font-size: 12px;
        padding: 4px;
        border-top: 1px solid $ui-border-color;
        background-color: #eee;
        color: #999;

        & > span {
            display: inline-block;
        }
    }
}

.language-selector {
    margin: 0 20px;

    img {
        height: 26px;
        filter: grayscale(90%);
    }

    .md-button-toggle-checked {
        img {
            filter: none;
        }
    }

    & > a.selected {
        img {
            filter: none;
        }
    }
}

.dimension-error {
    opacity: 0.8;
}
