@import 'theming';

@include mat-core();

$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-light-blue, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);

div.field-wrapper {
    display: inline-block;

    .mat-input-wrapper {
        position: relative;
    }
}
